<!-- Nouveau Hero -->
                    <div class="col-xs-12 col-sm-9">
                        <div class="content" id="new_hero">

                            <h1 class="page-title">Nouvelle candidature</h1>
                            <section class="section">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p class="line">
                                                <label for="">Quel est votre nom de héro?</label>
                                                <input type="text" class="mb0 wide" required>
                                            </p>
                                            <p class="line">
                                                <label for="">Quel âge avez vous?</label>
                                                <input type="number" class="mb0 wide" required>
                                            </p>
                                            <p class="line">
                                                <label for="">Quel est votre pouvoir?</label>
                                                <input type="text" class="mb0 wide" required>
                                            </p>
                                            <p class="line">
                                                <label for="">Quel est votre citation de référance?</label>
                                                <input type="text" class="mb0 wide" required>
                                            </p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="line">
                                                <label for="">Photo du héro</label>
                                                <input type="file" class="mb0">
                                            </p>
                                            <p class="line ac">
                                                <img class="current_img" src="assets/images/hero_img_placeholder.png" alt="Visuel hero" width="200" height="200">
                                            </p>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="hr mt2 mb2"></div>
                                        </div>

                                        <div class="col-xs-12 ac">
                                            <button type="button" class="btn btn_color3 recette_save"><span class="glyphicon glyphicon-ok mr0"></span><span>Valider ma candidature</span></button>
                                        </div>
                                        <!-- Afficher au clic sur "valider ma recette" lorsque tout s'est bien déroulé -->
                                        <!--<div class="col-xs-12">
                                            <p class="ac mt2 tb">
                                                <span class="glyphicon glyphicon-thumbs-up color3"></span>
                                                <span>Votre recette a bien été ajoutée !</span>
                                            </p>
                                        </div>-->
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>