<!-- Search -->
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_search">
        <h1 class="page-title">Tous les héros</h1>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">
                                <!-- Formulaire -->
                                <form action="#" novalidate>
                                    <div class="filter">
                                        <p><label for="">Nom du héro</label></p>
                                        <p><input #searchInput type="text" placeholder="ex: Reaper" (keyup)="search(searchInput.value)"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="result">
                    <div class="heroes row">

                        <div *ngFor="let hero of heroes" class="col-xs-6 col-sm-3 hero">
                            <a [routerLink]="['/heroes-detail', hero.Id]">
                                <img src="assets/images/{{hero.Photo}}" alt="{{hero.Nom}}" height="175" width="150">
                                <div class="bot">
                                    <p class="name">{{hero.Nom}}</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!--<div class="row showmore">
                <div class="col-xs-12">
                    <button type="button" class="btn btn_color1"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
                </div>
            </div>-->
        </div>
    </div>
</div>