<!-- Search -->
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_search">
        <h1 class="page-title">Tout les héros</h1>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">
                                <!-- Formulaire -->
                                <form action="#" novalidate>
                                    <div class="filter">
                                        <p><label for="">Nom du héro</label></p>
                                        <p><input type="text" placeholder="ex: Reaper"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="result">
                    <div class="heroes row">
                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Dva_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">D.VA</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Hanzo_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Hanzo</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Sombra_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Sombra</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Soldier76_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Soldier 76</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Symmetra_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Symmetra</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Junkrat_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Junkrat</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Roadhog_portrait_m.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Roadhog</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Mccree_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Mc Cree</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-xs-6 col-sm-3 hero">
                            <a href="hero_details.html">
                                <img src="assets/images/Pharah_portrait.png" alt="D.VA" height="175" width="150">
                                <div class="bot">
                                    <p class="name">Pharah</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!--<div class="row showmore">
                <div class="col-xs-12">
                    <button type="button" class="btn btn_color1"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
                </div>
            </div>-->
        </div>
    </div>
</div>